.error__page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.error__button{
    padding: 12px 14px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #001529;
    background-color: white;
    color: #001529;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.error__button:hover{
    background-color: #001529;
    color: white;
    cursor: pointer;
}