.department__filter_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 5px;
}

.department__filter_field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.department__input_search {
    width: 200px;
    margin-right: 15px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline: none;
    text-indent: 10px;
}

.department__input_search:hover,
.department__input_id:hover,
.department__input_date:hover{
    border-color: #4096ff;
    border-inline-end-width: 1px;
}

.department__input_search:focus,
.department__input_id:focus,
.department__input_date:focus{
    border-color: #4096ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    border-inline-end-width: 1px;
    outline: 0;
}

.department__input_id,
.department__input_date{
    width: 200px;
    margin-right: 15px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    outline: none;
    text-indent: 10px;
    margin-right: 10px;
    margin-left: 10px; 
}


.department__input_date::-webkit-calendar-picker-indicator {
    display: block;
    width: 20px;
    height: 20px;
    padding-right: 10px;
    border-width: thin;
}

.department__btn_search{
    margin-right: 10px;
}

.department__btn_create{
    right: 15px;
    bottom: 80px;
}